.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.title{
  color:var(--body_color);
  font-weight:600;
}
.card-style::after {
  border: none;
  pointer-events: none;
}

.card-style .card {
  border: 1px solid var(--border_color); 
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
  background-color:var(--body_background);
  color:var(--body_color);
}

.card-style .card:hover {
  transform: scale(1.05);
}
 .list-group-item{
  background-color:var(--body_background);
  color:var(--body_color);
}
.inputBox{
  background-color:var(--body_background);
  color:var(--body_color)
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--body_background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:var(--body_color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
