:root{
  --body_background:white;
  --body_color:black;
  --link_color:navy;
  --border_color:green;
  --title_color:black;
}
[data-theme="dark"]{
  --body_background:#282c34;
  --body_color:white;
  --link_color:cyan;
  --border_color:black;
  --title_color:black;

}
body {
  background-color:var(--body_background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
